<div class="row center">
    <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6">
        <img class="img-thumbnail" src="content/images/helena.jpg">
        <h2>Helena Standaert</h2>
        <p>Ik ben Helena Standaert en volg multimediaproductie aan de Arteveldehogschool. Ik ben ook bezig met muziek en sport, meerbepaald volleybal. Maar mijn grootste hobby is natuurlijk: developpen!</p>
    </div>

    <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6">
        <img class="img-thumbnail" src="content/images/jorn.jpg">
        <h2>Jorn Smits</h2>
        <p>Ik ben Jorn Smits, volg tevens ook multimediaproductie aan de Arteveldehogeschool te Gent. In mijn vrije tijd doe ik aan atletiek, mountainbiken en developpen.</p>
    </div>
</div>