<div class="center-row">
    <div class="col-xs-4 menu-item lineup">
        <a href="#lineup"></a>
    </div>
    <div class="col-xs-4 menu-item myschedule">
        <a href="#myschedule"></a>
    </div>
    <div class="col-xs-4 menu-item menu_map">
        <a href="#map"></a>
    </div>
</div>
<div class="center-row">
    <div class="col-xs-4 menu-item findyourtentje ineedauserdiv">
        <a href="#findyourtentje" class="ineedauser"></a>
    </div>
    <div class="col-xs-4 menu-item profile ineedauserdiv">
        <a href="#profile" class="ineedauser"></a>
    </div>
    <div class="col-xs-4 menu-item checklist ineedauserdiv">
        <a href="#checklist" class="ineedauser"></a>
    </div>
</div>
<div class="center-row">
    <div class="col-xs-4 menu-item publictransport">
        <a href="#publictransport"></a>
    </div>
    <div class="col-xs-4 menu-item settings ineedauserdiv">
        <a href="#settings" class="ineedauser"></a>
    </div>
    <div class="col-xs-4 menu-item about">
        <a href="#about"></a>
    </div>
</div>
<div class="center-row-bottom">
    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
        <a href="#register" class="btn btn-default register" role="button"><i class="fa fa-pencil-square-o"></i> Register</a>
    </div>
</div>