<div class="row">
    <div class="col-xs-12">
        <h1>Settings</h1>
        <!-- Button trigger modal -->
        <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
            Set Tent location
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Get the location of your tent</h4>
            </div>
            <div class="modal-body">
                Click on the 'Save changes' button when you're ready!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="setTentGeoloc()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
